html { font-size: 16px;}
body { 
    font-family: "Segoe UI", Arial, sans-serif;
    background: rgb(20,20,20);
    background: radial-gradient(circle, rgba(20,20,20,1) 0%, rgba(46,46,46,1) 67%);
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

a { 
    color: blue;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
}
h2 a { font-size: 0.9rem;}

a:hover, a:focus { text-decoration: underline;}

article {
    display: flex;
}
